@font-face {
    font-family: 'Flexo';
    src: url('../assets/font/Flexo/Flexo-Regular.otf');
}

* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Flexo', sans-serif;
}

.bold {
  font-weight: bold;
}

.white-text {
  color: #fff;
}

.pad-top-bot {
  padding: .2rem 0 .4rem 0 !important;
}

.pad-top {
  padding-top: 3px;
}

.marg-bot {
  margin-bottom: 8px !important;
}

.container-fluid {
  width: 100%;
  padding: 0 10px;
}

.fa-search {
  color: rgb(145, 145, 145);
  transform: translateY(70%);
  position: absolute;
  font-size: 1.5rem;
}

input[type="text"] {
  background-color: transparent;
  border-bottom: 1px solid black;
  margin: 0;
  color: #2b2b2b;
  padding-left: 42px !important;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid black;
  box-shadow: none;
}

.form-group {
  background-color: #fff;
  margin-top: 10px;
}


.img-div {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trapecio {
  background: url(../assets/img/forma.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 25%;
}

.icon {
  display: inline-block;
  width: 15px;
  background-size: contain;
  height: 15px;
  margin: 0 5px;
}

.icons {
  width: 75px;
  margin: 13px auto -5px auto;
}

.grid img {
  max-height: 105px;
  margin: 0 auto;
  max-width: 130px;
}

.pokebola {
  background-image: url(../assets/icon/pokeball_gray.png);
}

.data {
  background-image: url(../assets/icon/data.png);
}

.heart {
  background-image: url(../assets/icon/valentines-heart.png);
}

.close {
  background-image: url(../assets/icon/cross-out.png);
  position: absolute;
  top: 20px;
  right: 15px;
}

.celeste h6 {
  margin: 0.5rem 0 0 0;
  font-size: .9rem;
}

.celeste {
  font-size: .9rem;
}

.poison {
  background-color: #b685c6;
}

.bug {
  background-color: #729F3F;
}

.fire {
  background-color: #FD7D24;
}

.flying {
  background: #189ece;
  background: -moz-linear-gradient(top, #189ece 0%, #189ece 51%, #bababa 51%, #bababa 51%, #bababa 100%);
  background: -webkit-linear-gradient(top, #189ece 0%,#189ece 51%,#bababa 51%,#bababa 51%,#bababa 100%);
  background: linear-gradient(to bottom, #189ece 0%,#189ece 51%,#bababa 51%,#bababa 51%,#bababa 100%);
}

.normal {
  background-color: grey;
}

.electric {
  background-color: #EED535;
}

.water {
  background-color: #4592C4;
}

.ground {
  background: #eed535;
  background: -moz-linear-gradient(top, #eed535 0%, #eed535 50%, #ab9842 50%, #ab9842 99%);
  background: -webkit-linear-gradient(top, #eed535 0%,#eed535 50%,#ab9842 50%,#ab9842 99%);
  background: linear-gradient(to bottom, #eed535 0%,#eed535 50%,#ab9842 50%,#ab9842 99%);
}

.fairy {
  background-color: #FDB9E9;
}

.grass {
  background-color: #9BCC50;
}

.fighting {
  background-color: #D56723;
}

.psychic {
  background-color: #ef66b9;
}

.rock {
  background-color: #a38321;
}

.ice,
.celeste {
  background-color: #30A7D7;
}

.steel {
  background-color: #9EB7B8;
}

.ghost {
  background-color: #7B62A3;
}

.dragon {
  background: #53a4cf;
  background: -moz-linear-gradient(top, #53a4cf 0%, #53a4cf 50%, #f16e57 50%, #f16e57 99%);
  background: -webkit-linear-gradient(top, #53a4cf 0%,#53a4cf 50%,#f16e57 50%,#f16e57 99%);
  background: linear-gradient(to bottom, #53a4cf 0%,#53a4cf 50%,#f16e57 50%,#f16e57 99%);
}

.gris-claro {
  background-color: #F2F2F2;
}

.gris-text {
  color: #646464;
}

.rojo {
  color: #e84848;
}

.grid .row {
    margin-left: 2px;
    margin-right: -32px;
}

.medium-size-text {
  font-size: 1.1rem;
}

.grid .col{
  margin: 16px;
  height: 230px;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.modal {
  width: 70%;
  max-height: 520px;
  height: 520px;
}

.modal .col {
  margin: 0;
  float: left;
  box-sizing: border-box;
  padding: 0 .75rem;
  min-height: 1px;
  height: auto;
  display: block;
}

.modal .pokemon .col {
  margin: 0;
  height: 320px;
  position: static;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.modal .pokemon img {
  transform: scale(1.4);
}

.modal .trapecio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tipos .s4,
.debilidades .s4 {
  width: 30% !important;
 margin-right: 7px;
}

.fa-mars,
.fa-venus {
  margin-right: 3px;
}

.grid-loading {
  position: absolute;
  top: 38vh;
  left: 37%;
  width: 200px;
  transition: .3s;
}

@media (max-width: 600px) {
  .grid .row {
    margin-left: -.75rem;
    margin-right: -.75rem;
  }
  .grid .s12 {
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 601px) {
  .grid .col.m4 {
    width: 30.52%;
  }
  .modal .col.s5 .col.m4 {
    width: 100%;
  }

@media (min-width: 992px) {
  .grid .col.l3 {
    width: 22.93%;
  }
  .modal .col.s5 .col.l3 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .grid .col.xl2 {
    width: 18.34%;
  }
  .modal .col.s5 .col.xl2 {
    width: 100%;
  }
}
